*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    min-height:100vh;
    background-color: #f4e4ba
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width:50vh;
}
form{
    margin:2rem 0 1rem 0;
}
form input,select,button{
    width:100%;
    border:none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgrey;
    padding-left: 0.5rem;
    font-size: 1rem;
    height:3rem;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}
i{
    font-size: 1.3rem;
    margin-top: 1rem;
}
.selector-container img{
    max-width: 2rem;
}
.selector-container select{
    font-size: 1rem;
    width:auto;
    cursor: pointer;
}
.selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    border:1px solid lightgrey;
    width:6rem;
}
.msg{
    margin:2rem 0 2rem 0;
}
form button{
    height:3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}
